import './index.less';

import { TableContextProvider } from '@/components/table/context';
import Table from '@/components/table/table';

import { useTableColumns } from './hooks/table-columns';
import { PageData, PageParams } from '@/types/request';
import {{pascalTableName}} from '@/types/{{hyphenTableName}}';

export default function {{pascalTableName}}Page() {
  const columns = useTableColumns();

  return (
    <div className="{{hyphenTableName}}-page">
      <TableContextProvider>
        <div className="table-container">
          <Table
            columns={columns}
            requestKey={['{{hyphenTableName}}-page']}
            request={(params: PageParams) => {
              return new Promise<PageData<{{pascalTableName}}>>((resolve) => {
                setTimeout(() => {
                  resolve({
                    current: params.pageNo,
                    size: params.pageSize,
                    total: 100,
                    records: [
                      {
                        id: 1,
                        name: '测试1',
                        type: '测试1',
                        status: 1,
                      },
                    ],
                  });
                }, 1000);
              });
            }}
          />
        </div>
      </TableContextProvider>
    </div>
  );
}
